<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <title>
      Success
    </title>
  </head>
  <body>
    <div class="container mt-2">
      <header>
        <h2>Success</h2>
        <p>
          You have successfully submitted the form!
        </p>
      </header>
      <section>
        <h2>Your Input</h2>
        <ul>
          <li>Username:
            {{ value.username }}</li>
          <li>Email:
            {{ value.email }}</li>
          <li>Password:
            {{ value.password }}</li>
        </ul>
      </section>
    </div>
  </body>
</html>